@page
@model LibrarySystem.Pages.BorrowedBooks.EditModel

@{
    ViewData["Title"] = "Edit a borrowed book";
}

    <h1>Edit a borrowed book</h1>

<h4>Borrowed Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowedBook.BorrowedBookId" />
            <div class="form-group">
                <label asp-for="BorrowedBook.MemberId" class="control-label">Member ID</label>
                <select asp-for="BorrowedBook.MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="BorrowedBook.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedBook.BookCopyId" class="control-label">Book Copy ID</label>
                <select asp-for="BorrowedBook.BookCopyId" class="form-control" asp-items="ViewBag.BookCopyId"></select>
                <span asp-validation-for="BorrowedBook.BookCopyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedBook.BorrowedDate" class="control-label"></label>
                <input asp-for="BorrowedBook.BorrowedDate" class="form-control" />
                <span asp-validation-for="BorrowedBook.BorrowedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedBook.ActualReturnDate" class="control-label"></label>
                <input asp-for="BorrowedBook.ActualReturnDate" class="form-control" />
                <span asp-validation-for="BorrowedBook.ActualReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
