@page
@model CoreWiki.Pages.GandhiInstituteofTechnologyandManagementModel
@{
}
<h1>Gandhi Institute of Technology and Management</h1>
<a href="https://en.wikipedia.org/wiki/Gandhi_Institute_of_Technology_and_Management">
    https://en.wikipedia.org/wiki/Gandhi_Institute_of_Technology_and_Management
</a>
<hr />
<p>
    <img style="float: right;width:170px;height:170px;" src="https://upload.wikimedia.org/wikipedia/en/a/a6/Gandhi_Institute_of_Technology_and_Management_logo.jpg" alt="Logo of a GITAM" />
    <strong>Gandhi Institute of Technology and Management (GITAM)</strong>, formerly <strong>GITAM University</strong> and <strong>GITAM College of Engineering</strong>, is an institute
    of higher education with campuses in <a href="https://en.wikipedia.org/wiki/Visakhapatnam">Visakhapatnam</a>
    , <a href="https://en.wikipedia.org/wiki/Hyderabad">Hyderabad</a> and <a href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a> in India. It was established in 1980 at
    <a href="https://en.wikipedia.org/wiki/Visakhapatnam">Visakhapatnam</a>, it was affiliated to <a href="https://en.wikipedia.org/wiki/Andhra_University">Andhra University</a>. In 2007, it was
    conferred the status of <a href="https://en.wikipedia.org/wiki/Deemed_university">deemed university</a> under Section 3 of UGC Act 1956. It was the first
    private engineering institute in <a href="https://en.wikipedia.org/wiki/Andhra_Pradesh">Andhra Pradesh</a> to receive university status. Its main campus
    at <a href="https://en.wikipedia.org/wiki/Visakhapatnam">Visakhapatnam</a> spreads over 110 acres.
</p>
<h2>Academics</h2>
<hr />
<p>
    The university offers 109 programs at undergraduate, postgraduate and Doctoral levels in Technology, Pharmacy, Science, Management, International Business, Architecture and Law.
</p>
<h2>Rankings</h2>
<hr />
<p>
    Gandhi Institute of Technology and Management was ranked 85 among universities in India by the <a href="https://en.wikipedia.org/wiki/National_Institutional_Ranking_Framework">National Institutional Ranking Framework</a> (NIRF) in 2018 and in the 101–150 band overall.
</p>
<h2>Campuses</h2>
<hr />
<p>
    Gandhi Institute of Technology and Management has three campuses at <a href="https://en.wikipedia.org/wiki/Visakhapatnam">Visakhapatnam</a>, <a href="https://en.wikipedia.org/wiki/Hyderabad">Hyderabad</a> and <a href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a>.
</p>
<h5>Visakhapatnam Campus</h5>
<img style="display: block;margin-left: auto;margin-right: auto; width:1100px;height:300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Open_Air_Auditorium_in_GITAM%2C_Visakhapatnam_campus_%28May_2019%29.jpg/1920px-Open_Air_Auditorium_in_GITAM%2C_Visakhapatnam_campus_%28May_2019%29.jpg" alt="Visakhapatnam campus" />
<figcaption>Panorama of Open Air Auditorium in campus</figcaption>
<br />
<p>
    GITAM has a 110-acre campus in <a href="https://en.wikipedia.org/wiki/Rushikonda">Rushikonda</a>. The campus consists of three main food canteens, a few fast food outlets, a multi-purpose outdoor ground, indoor facilities for badminton and table tennis, tennis courts, and gym. It consists of following schools:
</p>
<ul>
    <li>GITAM Institute of Technology</li>
    <li>GITAM Institute of Science</li>
    <li>GITAM Institute of Management</li>
    <li>GITAM School of International Business</li>
    <li>GITAM Institute of Pharmacy</li>
    <li><a href="https://en.wikipedia.org/wiki/GITAM_School_of_Architecture">GITAM School of Architecture</a></li>
    <li>School of law</li>
    <li>GITAM Institute of Medical Science and Research</li>
    <li>GITAM School of Nursing</li>
    <li>Centre for Distance Learning</li>
    <li>GITAM School of Gandhian Studies</li>
</ul>
<h5>Hyderabad Campus</h5>
<p>
    <em>Main article: <a href="https://en.wikipedia.org/wiki/Gandhi_Institute_of_Technology_and_Management_Hyderabad_Campus">Gandhi Institute of Technology and Management Hyderabad Campus</a></em>
</p>
<p>
    GITAM Hyderabad Campus was established in 2009, it consists of following schools:
</p>
<ul>
    <li>GITAM School of Technology</li>
    <li>Hyderabad Business School</li>
    <li>School of Science</li>
    <li>GITAM School of Pharmacy</li>
    <li>GITAM School of Architecture</li>
</ul>
<h5>Bengaluru Campus</h5>
<p>
    GITAM Bengaluru Campus was established in 2012, it consists of following schools:
</p>
<ul>
    <li>GITAM School of Technology</li>
    <li>Bengaluru School of Management Studies</li>
</ul>
<h2>Student activities</h2>
<hr />
<p>
    GITAM is a host to many student activities both professional and cultural as well.GITAM University Science & Activity CENTRE(GUSAC),Professional societies include
    <a href="https://en.wikipedia.org/wiki/Indian_Society_for_Technical_Education">ISTE</a>, <a href="https://en.wikipedia.org/wiki/Institute_of_Electrical_and_Electronics_Engineers">IEEE</a>,
    <a href="https://en.wikipedia.org/wiki/Computer_Society_of_India">CSI</a>, <a href="https://en.wikipedia.org/wiki/Institution_of_Electronics_and_Telecommunication_Engineers">IETE</a>,
    <a href="https://en.wikipedia.org/wiki/Institution_of_Engineers_(India)">IEI</a>, <a href="https://en.wikipedia.org/wiki/International_School_of_Islamabad">ISOI</a>
    and <a href="https://en.wikipedia.org/wiki/Engineers_Without_Borders">EWB</a>. Cultural societies include Kalakriti, G-studio, G-Mag, E-Cell, <a href="https://en.wikipedia.org/wiki/National_Cadet_Corps_(India)">NCC</a>,
    <a href="https://en.wikipedia.org/wiki/National_Service_Scheme">NSS</a> and other community services like <a href="https://en.wikipedia.org/wiki/Rotaract">Rotaract</a> and Vivaan.
</p>
<h2>References</h2>
<hr />
<small>
    <ol>
        <li><a href="https://www.gitam.edu/">"Welcome to GITAM University"</a>. gitam.edu. Retrieved 15 June 2011.</li>
        <li><a href="https://www.nirfindia.org/2018/OverallRanking.html">"National Institutional Ranking Framework 2018 (Overall)"</a>. National Institutional Ranking Framework. <a href="https://en.wikipedia.org/wiki/Ministry_of_Human_Resource_Development">Ministry of Human Resource Development.</a> 2018.</li>
        <li><a href="https://www.nirfindia.org/2018/UniversityRanking.html">"National Institutional Ranking Framework 2018 (Universities)".</a>National Institutional Ranking Framework. <a href="https://en.wikipedia.org/wiki/Ministry_of_Human_Resource_Development">Ministry of Human Resource Development.</a>  2018.</li>
        <li><a href="http://www.gitam.edu/academics/Campuses">http://www.gitam.edu/academics/Campuses</a></li>
        <li><a href="https://www.gitam.edu/#">"GITAM Student Activities".</a></li>
    </ol>
</small>