@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoreWiki</h1>
    <h2>List of Pages</h2>
</div>
<div>
    <table border="1" align="center">
        <thead>
            <tr>
                <th>No.</th>
                <th>Page Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a target="_blank" href="/GandhiInstituteofTechnologyandManagement">Gandhi Institute of Technology and Management</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a target="_blank" href="/LarsenandToubroInfotech">Larsen and Toubro Infotech</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a target="_blank" href="/Masaigiraffe">Masai giraffe</a></td>
            </tr>
        </tbody>
    </table>
</div>
