@page
@model CoreWiki.Pages.LarsenandToubroInfotechModel
@{
}
<h1>Larsen & Toubro Infotech</h1>
<a href="https://en.wikipedia.org/wiki/Larsen_%26_Toubro_Infotech">
    https://en.wikipedia.org/wiki/Larsen_%26_Toubro_Infotech
</a>
<hr />
<p>
    <img style="float: right;width:170px;height:130px;" src="https://upload.wikimedia.org/wikipedia/commons/4/43/LTI_Lets_solve.png" alt="L and T" />
    <strong>Larsen & Toubro Infotech Limited</strong> (LTI) is a global IT <a href="https://en.wikipedia.org/wiki/Solution">solutions</a> and services
    company based in Mumbai, India. LTI was ranked number 6 in India IT companies in 2013–2014. The company has 39 offices in 30 countries. It
    employs standards of the Software Engineering Institute's (SEI) Capability Maturity Model Integration (CMMI) and is a Maturity Level 5 assessed organisation.
</p>
<h2>History</h2>
<hr />
<p>
    Founded as L&T Information Technology Ltd in December 1996, LTI is a wholly owned subsidiary of Larsen & Toubro Ltd (L&T).During 2001–2002 the company's
    name was changed from L&T Information Technology Limited to Larsen & Toubro Infotech Limited and in the same year the company achieved the assessed level of
    SEI Level 5. L&T Infotech dropped the word ‘Infotech’ from its name to reflect the changed business environment and rebranded itself as 'LTI' with a tag
    line of 'Let's Solve' in May 2017.
</p>
<h2>Global presence</h2>
<hr />
<p>LTI has its presence across the following regions:</p>
<ul>
    <li>
        India:
        <ul style="list-style-type:none">
            <li>Mumbai - (Powai, Airoli, Mahape).</li>
            <li>Pune - (Shivajinagar, Hinjawadi).</li>
            <li>Bangalore/Bengaluru - (Whitefield).</li>
            <li>Chennai - (Manapakkam).</li>
            <li>Hyderabad - (Kokapet).</li>
        </ul>
    </li>
    <li>North America: Canada, Mexico, United States.</li>
    <li>Europe: England, Germany, Denmark, France, Sweden, Norway, Finland, Belgium, Ireland, Netherlands, Poland, Austria, Spain, Luxembourg, Switzerland,</li>
    <li>Middle East: Kuwait, United Arab Emirates, Saudi Arabia, Qatar.</li>
    <li>South America: Costa Rica</li>
    <li>Africa: South Africa</li>
    <li>Asia Pacific: Australia, Japan, Singapore, Philippines, China, Thailand.</li>
</ul>
<h2>Subsidiaries</h2>
<hr />
<table border="1">
    <thead style="background-color: lightgrey;" align="center">
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody style="background-color: ghostwhite;">
        <tr>
            <td>L&T Information Financial Services Technology Inc</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Larsen & Toubro Infotech GmbH</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Larsen & Toubro Infotech Canada Ltd</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Larsen & Toubro Infotech Austria GmbH</td>
            <td>Austria</td>
        </tr>
        <tr>
            <td>L&T Information Technology Services (Shanghai) Co Ltd</td>
            <td>China</td>
        </tr>
        <tr>
            <td>L&T Infotech S. de. R. L. de. C. V.</td>
            <td>Mexico</td>
        </tr>
        <tr>
            <td>Larsen & Toubro Infotech South Africa (Pty) Ltd.</td>
            <td>South Africa</td>
        </tr>
        <tr>
            <td>L&T Information Technology Spain SL</td>
            <td>Spain</td>
        </tr>
        <tr>
            <td>Larsen & Toubro Infotech LLC</td>
            <td>United States</td>
        </tr>
        <tr>
            <td>Syncordis S.A.</td>
            <td>Luxembourg</td>
        </tr>
        <tr>
            <td>Syncordis S.A.R.L.</td>
            <td>France</td>
        </tr>
        <tr>
            <td>Syncordis Support Services S.A.</td>
            <td>Luxembourg</td>
        </tr>
        <tr>
            <td>Syncordis Software Services India Pvt Ltd</td>
            <td>India</td>
        </tr>
        <tr>
            <td>Syncordis Ltd</td>
            <td>United Kingdom</td>
        </tr>
    </tbody>
</table>
<h2>Acquisitions</h2>
<hr />
<ul>
    <li>2010: L&T Infotech Financial Services Technologies Inc. (Formerly part of Citigroup Fund Services Canada Inc)</li>
    <li>2014: Information Systems Resource Centre Pvt. Ltd. (ISRC)</li>
    <li>2016: AugmentIQ Data Sciences Pvt. Ltd.</li>
    <li>2017: Syncordis S.A.</li>
    <li>2019: Lymbyc;NIELSEN+PARTNER of Hamburg, Germany; Ruletronics</li>
</ul>
<h2>Awards and recognition</h2>
<hr />
<ul>
    <li>In 2019, LTI ranked as the Top Service Provider in France for the Second Consecutive Year in the French IT outsourcing study conducted by Whitelane Research</li>
    <li>In 2019, LTI won CMO Asia Awards in two categories – Brand Excellence in IT/ITES 2019 and Marketing Campaign of the Year</li>
    <li>LTI ranked number 5 in HFS Top 10 Energy Service Providers 2019</li>
    <li>In 2019, LTI was named the ‘Most Admired Company of the year’ by BTVI Business Leader of the Year Awards</li>
    <li>In January 2019, LTI and ACORD announced collaboration to drive digital adoption in the insurance industry [18]</li>
    <li>In November 2018, Inclusive Tech Alliance recognized LTI President Sales Sudhir Chaturvedi among the top 100 most influential leaders in UK Tech Sector [19] [20]</li>
    <li>In January 2018, LTI CEO and MD Sanjay Jalona chosen as Exemplary CEO of the Year by BW Business World [21]</li>
    <li>In March 2017, LTI Ranked Amongst 'Super 50' in Dalal Street Investment Journal (DSIJ) 150 Wealth-Creators List.[citation needed]</li>
    <li>In March 2017, LTI Named a Top 15 Sourcing Service Provider by <span style="color:red">Information Services Group</span> (ISG).[citation needed]</li>
    <li>In March 2016, LTI positioned among Everest Group's Top 20 IT Services Providers.[citation needed]</li>
    <li>In February 2016, L&T Group Executive Chairman A.M. Naik was awarded an honorary Doctorate of Letters Degree from the Veer Narmad South Gujarat University. The doctorate is in recognition of Mr. Naik’s long and distinctive contribution to the nation to society.[citation needed]</li>
    <li>In December 2015, LTI Named as one of the ‘Star Performers’ and ‘Major Contenders’ in Everest Group’s PEAK MatrixTM Assessment 2015 for Global Insurance Service Provider[citation needed]</li>
    <li>In 2014, LTI ranked number 6[4] in India IT companies in 2013–2014,2014-2015 and 2015-2016 by NASSCOM rating.</li>
</ul>
<h2>Controversy</h2>
<hr />
<p>In 2016, LTI management revoked offer letter of a few recruits after waiting for a period of 18 months. This caused some disruption In Chennai’s IT Corridor and there was protest against the company’s management in front of its Chennai office.</p>
<h2>See also</h2>
<hr />
<ul>
    <li><a href="https://en.wikipedia.org/wiki/List_of_IT_consulting_firms">List of IT consulting firms</a></li>
</ul>
<h2>References</h2>
<hr />
<div style="font-size:13px">
    <ol style="columns:2">
        <li>"Larsen & Toubro Infotech Limited: Private Company Information - BusinessWeek". Investing.businessweek.com. Retrieved 11 July 2012.</li>
        <li>"Sudip Banerjee, CEO, L&T Infotech". Retrieved 11 July 2012.</li>
        <li>"Now, L&T jumps into Hexaware race to reboot Infotech". Business Standard India. Retrieved 11 July 2012.</li>
        <li>"Nasscom Industry Ranking". NASSCOMM. Retrieved 9 July 2012.</li>
        <li>""LTI Locations". LTI. Retrieved 6 April 2015.</li>
        <li>"expresscomputeronline". 1 April 2002. Retrieved 25 November 2012.</li>
        <li>"Sanjay Jalona CEO & MD of LTI". www.lntinfotech.com. L&T Infotech. Retrieved 8 February 2016.</li>
        <li>"Larsen & Toubro Infotech Ltd". Retrieved 16 April 2019 – via Business Standard.</li>
        <li>"L&T Infotech rebrands itself as LTI in keeping with new business reality". Moneycontrol. Retrieved 16 April 2019.</li>
        <li>"Global Footprint | LTI". www.lntinfotech.com. Retrieved 11 February</br> 2016.</li>
        <li>https://www.citigroup.com/citi/news/2010/101118a.htm. Missing or</br> empty |title= (help)</li>
        <li> Bureau, Our. "L&T Infotech buys Otis Elevator's Information Systems Resource Centre". businessline. Retrieved 4 September 2019.</li>
        <li> PTI (25 October 2016). "L&T Infotech to acquire analytics start-up AugmentIQ". https://www.livemint.com. Retrieved 4 September 2019. External link in |website= (help)</li>
        <li>"Larsen & Toubro Infotech to acquire Syncordis SA". The Economic Times. 14 November 2017. Retrieved 4 September 2019.</li>
        <li>"LTI to acquire advanced analytics firm Lymbyc". The Economic Times. 17 July 2019. Retrieved 4 September 2019.</li>
        <li>www.ETtech.com. "LTI to acquire Germany's Nielsen+Partner in a $31.6M deal - ETtech". ETtech.com. Retrieved 4 September 2019.</li>
        <li>"Larsen & Toubro Infotech acquires Ruletronics for $7.48 million". The Economic Times. 17 January 2019. Retrieved 4 September 2019.</li>
        <li>www.ETtech.com. "LTI and ACORD to collaborate to drive digital adoption in insurance industry - ETtech". ETtech.com. Retrieved 16 April 2019.</li>
        <li> "Top 10: The most influential BAME tech leaders in the UK". Financial Times. 14 November 2018. Retrieved 16 April 2019.</li>
        <li>"Inclusive Tech Alliance recognizes LTI President Sales, Sudhir Chaturvedi among the top 100 most influential leaders in UK Tech Sector". LTI. Retrieved 16 April 2019.</li>
        <li> "LTI CEO & MD Sanjay Jalona chosen as Exemplary CEO of the Year by BW Businessworld". LTI. Retrieved 16 April 2019.</li>
        <li>"Business Line".</li>
        <li> "Business standard". 31 May 2016.</li>
        <li> "Times Of India". 30 May 2016.</li>
        <li>"Financial Express".</li>
    </ol>
</div>


