@page
@model CoreWiki.Pages.MasaiGiraffeModel
@{
}
<h1>Masai giraffe</h1>
<a href="https://en.wikipedia.org/wiki/Masai_giraffe">
    https://en.wikipedia.org/wiki/Masai_giraffe
</a>
<hr />
<p>
    <img style="float: right;width:170px;height:340px;" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/GiraffaCamelopardalisTippelskirchi-Masaai-Mara.JPG" alt="Masai Giraffe" />
    The <strong>Masai giraffe</strong> (Giraffa camelopardalis tippelskirchii), also spelled <strong>Maasai giraffe</strong>, also called <strong>Kilimanjaro giraffe</strong>,
    is the largest subspecies of <a href="https://en.wikipedia.org/wiki/Giraffe">giraffe</a>. It is native to <a href="https://en.wikipedia.org/wiki/East_Africa">East Africa</a>.
    The Masai giraffe can be found in central and southern <a href="https://en.wikipedia.org/wiki/Kenya">Kenya</a> and in <a href="https://en.wikipedia.org/wiki/Tanzania">Tanzania</a>.
    It has distinctive, irregular, jagged, star-like blotches which extend to the hooves. A median forehead lump is usually present in males.
</p>
<h2>Taxonomy</h2>
<hr />
<p>
    The IUCN currently recognizes only one species of giraffe with nine subspecies The Masai giraffe was <a href="https://en.wikipedia.org/wiki/Species_description">described</a> and
    given the <a href="https://en.wikipedia.org/wiki/Binomial_nomenclature">binomial name</a> <em>Giraffa tippelskirchi</em> by German zoologist Paul Matschie in 1898, but current taxonomy
    refers to Masai giraffe as <em>Giraffa camelopardalis tippelskirchi</em>. The Masai giraffe was named in honor of Herr von Tippelskirch who was a member of a German scientific expedition
    in German East Africa to what is now northern Tanzania in 1896. Tippelskirch brought back the skin of a female Masai giraffe from near Lake Eyasi which was later on identified as
    <em>Giraffa tippelskirchi</em>.
</p>
<h2>Description</h2>
<hr />
<p>
    The Masai giraffe is distinguished by jagged spots on its body, geographic range including southern Kenya and all of Tanzania, and genetic evidence. It is the largest-bodied
    giraffe species, making it the tallest land animal on earth.
</p>
<h2>Conservation</h2>
<hr />
<p>
    Masai giraffes are considered <a href="https://en.wikipedia.org/wiki/Vulnerable_species">endangered</a> by the <a href="https://en.wikipedia.org/wiki/International_Union_for_Conservation_of_Nature">IUCN</a>
    , and the Masai giraffe population declined 52% in recent decades due to poaching and habitat loss. Overall, the approximate number of all populations accumulate to 32,550 in the wild.
    Demographic studies of wild giraffes living inside and outside protected areas suggest low adult survival outside protected areas due to poaching, and low calf survival inside protected
    areas due to predation are the primary influences on population growth rates. Survival of giraffe calves is influenced by the season of birth,[9] and the seasonal local presence or
    absence of long-distance migratory herds of wildebeest and zebra. Metapopulation analysis indicated protected areas were important for keeping giraffes in the larger landscape.
    In situ conservation of Masai giraffes is being done by several government agencies including Kenya Wildlife Service, Tanzania National Parks, Zambia Wildlife Authority; and non-governmental
    organizations including PAMS Foundation, and Wild Nature Institute. Community-based wildlife conservation areas have also been shown to be effective at protecting giraffes. At several
    zoos, Masai giraffe have become pregnant and successfully given birth.
</p>
<h2>Gallery</h2>
<hr />
<table>
    <tbody>
        <tr>
            <td>
                <img style="width:200px;height:170px;" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Masai_Giraffe%2C_Serengeti_National_Park%2C_Tanzania_%282010%29.jpg" alt="Masai Giraffe" />
                <figcaption>Masai giraffe in Serengeti National Park, Tanzania</figcaption>
            </td>
            <td>
                <img style="width:200px;height:170px;" src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Maasai_Giraffe_07.JPG" alt="Masai Giraffe" />
                <figcaption>Detail of head, taken at Cincinnati Zoo and Botanical Garden</figcaption>
            </td>
            <td>
                <img style="width:200px;height:170px;" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Giraffes_Mikumi_National_Park.jpg" alt="Masai Giraffe" />
                <figcaption>Two Masai giraffes in Mikumi National Park</figcaption>
            </td>
            <td>
                <img style="width:200px;height:170px;" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Young_Maasai_Giraffes.jpg" alt="Masai Giraffe" />
                <figcaption>Two week-old Masai giraffes in Serengeti, Tanzania</figcaption>
            </td>
            <td>
                <img style="width:200px;height:170px;" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Giraffe_close_up.jpg" alt="Masai Giraffe" />
                <figcaption>Close up of giraffe face in Masai Mara</figcaption>
            </td>
        </tr>
    </tbody>
</table>
<h2>See also</h2>
<hr />
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Maasai_people">Maasai people</a> </li>
    <li><a href="https://en.wikipedia.org/wiki/Panthera_leo_melanochaita">Panthera leo melanochaita</a> </li>
</ul>
<h2>References</h2>
<hr />
<div style="font-size:13px">
    <ol style="columns:2">
        <li> Bolger, D.; Ogutu, J.; Strauss, M.; Lee, D.; Muneza, A.; Fennessy, J.; Brown, D. (2019). "Giraffa camelopardalis ssp. tippelskirchi". IUCN Red List of Threatened Species. 2019: e.T88421036A88421121. doi:10.2305/IUCN.UK.2019-1.RLTS.T88421036A88421121.en. Retrieved 14 July 2019.</li>
        <li>IUCN (2016). "Giraffa camelopardalis: Muller, Z., Bercovitch, F., Brand, R., Brown, D., Brown, M., Bolger, D., Carter, K., Deacon, F., Doherty, J.B., Fennessy, J., Fennessy, S., Hussein, A.A., Lee, D., Marais, A., Strauss, M., Tutchings, A. & Wube, T.". IUCN Red List of Threatened Species. doi:10.2305/iucn.uk.2016-3.rlts.t9194a51140239.en.</li>
        <li>Bercovitch, Fred B.; Berry, Philip S. M.; Dagg, Anne; Deacon, Francois; Doherty, John B.; Lee, Derek E.; Mineur, Frédéric; Muller, Zoe; Ogden, Rob (2017-02-20). "How many species of giraffe are there?". Current Biology. 27 (4): R136–R137. doi:10.1016/j.cub.2016.12.039. ISSN 0960-9822. PMID 28222287.</li>
        <li> Dagg, A.I.; Foster, J. B. (1982). The Giraffe. Its Biology, Behavior, and Ecology (with updated supplementary material). Malabar, Florida: Krieger Publishing Company.</li>
        <li>Brown, David M.; Brenneman, Rick A.; Koepfli, Klaus-Peter; Pollinger, John P.; Milá, Borja; Georgiadis, Nicholas J.; Louis, Edward E.; Grether, Gregory F.; Jacobs, David K. (2007-12-21). "Extensive population genetic structure in the giraffe". BMC Biology. 5 (1): 57. doi:10.1186/1741-7007-5-57. ISSN 1741-7007. PMC 2254591. PMID 18154651.</li>
        <li> Fennessy J.; Bidon T.; Reuss F.; Kumar V.; Elkan P.; Nilsson M.A.; Vamberger M.; Fritz U.; Janke A. (2016). "Multi-locus Analyses Reveal Four Giraffe Species Instead of One". Current Biology. 26 (18): 2543–2549. doi:10.1016/j.cub.2016.07.036. PMID 27618261.</li>
        <li>Lee, Derek E.; Bond, Monica L.; Kissui, Bernard M.; Kiwango, Yustina A.; Bolger, Douglas T. (2016-05-11). "Spatial variation in giraffe demography: a test of 2 paradigms". Journal of Mammalogy. 97 (4): 1015–1025. doi:10.1093/jmammal/gyw086. ISSN 0022-2372.</li>
        <li>Lee, D. E.; Strauss, M. K. L (2016-01-01). Reference Module in Earth Systems and Environmental Sciences. Elsevier. doi:10.1016/B978-0-12-409548-9.09721-9. ISBN 9780124095489.</li>
        <li>Lee, Derek Edward; Bond, Monica Louise; Bolger, Douglas Thomas (2017-01-01). "Season of birth affects juvenile survival of giraffe". Population Ecology. 59 (1): 45–54. doi:10.1007/s10144-017-0571-8. ISSN 1438-3896.</li>
        <li> Lee, Derek E.; Kissui, Bernard M.; Kiwango, Yustina A.; Bond, Monica L. (2016). "Migratory herds of wildebeests and zebras indirectly affect calf survival of giraffes". Ecology and Evolution. 6 (23): 8402–8411. doi:10.1002/ece3.2561. ISSN 2045-7758. PMC 5167056. PMID 28031792.</li>
        <li>Lee, Derek E.; Bolger, Douglas T. (2017-05-05). "Movements and source–sink dynamics of a Masai giraffe metapopulation". Population Ecology. 59 (2): 157–168. doi:10.1007/s10144-017-0580-7. ISSN 1438-3896.</li>
        <li>Lee, Derek E; Bond, Monica L (2018-02-26). "Quantifying the ecological success of a community-based wildlife conservation area in Tanzania". Journal of Mammalogy. 99 (2): 459–464. doi:10.1093/jmammal/gyy014. ISSN 0022-2372. PMC 5965405. PMID 29867255.</li>
        <li>Lee, Derek E. (2018-08-10). "Evaluating conservation effectiveness in a Tanzanian community wildlife management area". The Journal of Wildlife Management. 82 (8): 1767–1774. doi:10.1002/jwmg.21549. ISSN 0022-541X.</li>
        <li> Gregory, Kim Lamb (May 10, 2014). "Mothers' nature in the animal world" Ventura County Star</li>
    </ol>
</div>