@page
@model LibrarySystem.Pages.AboutModel
@{
    ViewData["Title"] = "About Mindfulnest";
}

<h1>About Mindfulnest</h1>
<p>
    Mindfulnest is a provider of latest copies for your favorite books from any genre of your choice since 2001. It was co-founded by Harsh Dave and Sankar Palla with a vision to spread the magic of book reading far and wide. We leverage the use of technology in our business process to an extent that we are more of an Information System company rather than a traditional book repository.
</p>
<h1>About our Founders</h1>
<table align="left">
    <tr>
        <td>
            <img src="https://drive.google.com/uc?export=view&id=1P6Q3iDuzqVVnuyQ9PcWO_Wz1ir1Xr4W1" style="width: 250px; max-width: 100%; height: auto"
                 title="Harsh Dave, Co-Founder & CEO of Mindfulnest"
                 align="left">
        </td>
        <td>
            Harsh Dave, a technology Enthusiast and an avid book reader is one of the co-founders and CEO of Mindfulnest. He is with Mindfulnest since its inception and is reponsible to the companys relationship with Publication houses and Authors of various books. He also overlooks the IT arm of the organzation along with Sankar.
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://drive.google.com/uc?export=view&id=0B_tb7Mu7o4G0azlSQ05BXzJEWm14QUZWeENvY2dTV0RGbFRR" style="width: 250px; max-width: 100%; height: auto"
                 title="Sankar Palla, Co-Founder & CIO of Mindfulnest"
                 align="left">
        </td>
        <td>
            Sankar Palla, is the CIO and one of the co-founders of Mindfulnest. He is with the organization since its inception and is working very exhaustively to evolve the company's IT infrastructure.
        </td>

    </tr>
   
</table>