@page
@model LibrarySystem.Pages.AboutModel
@{
    ViewData["Title"] = "About Mindfulnest";
}

<h1>About Mindfulnest</h1>
<p>
    Mindfulnest is a provider of latest copies for your favorite books from any genre of your choice since 2001. It was co-founded by Harsh Dave and Sankar Palla with a vision to spread the magic of booki reading far and wide. We leverage the use of technology in our business process to an extent that we are more of an Information System company rather than a traditional book repository.
</p>
<img src="https://drive.google.com/uc?export=view&id=1P6Q3iDuzqVVnuyQ9PcWO_Wz1ir1Xr4W1" style="width: 500px; max-width: 25%; height: auto"
     title="Harsh Dave, Co-Founder & CEO of Mindfulnest"
     align="right">
<img src="https://drive.google.com/uc?export=view&id=0B_tb7Mu7o4G0azlSQ05BXzJEWm14QUZWeENvY2dTV0RGbFRR" style="width: 500px; max-width: 25%; height: 320px"
     title="Sankar Palla, Co-Founder & CEO of Mindfulnest"
     align="right">