@page
@model LibrarySystem.Pages.AddBookCopyFormModel
@{
    ViewData["Title"] = "AddBookCopyForm";
}

<h1>AddBookCopyForm</h1>

<h4>BookCopy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label hidden asp-for="bookCopy.BookId" class="control-label"></label>
                <input hidden asp-for="bookCopy.BookId" class="form-control" />
                <span asp-validation-for="bookCopy.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookCopy.DateOfArrival" class="control-label"></label>
                <input asp-for="bookCopy.DateOfArrival" class="form-control" />
                <span asp-validation-for="bookCopy.DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookCopy.Price" class="control-label"></label>
                <input asp-for="bookCopy.Price" class="form-control" />
                <span asp-validation-for="bookCopy.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookCopy.BookAisleLocation" class="control-label"></label>
                <input asp-for="bookCopy.BookAisleLocation" class="form-control" />
                <span asp-validation-for="bookCopy.BookAisleLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Books/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


