@page
@model LibrarySystem.Pages.AdminPageModel
@{
    ViewData["Title"] = "AdminPage";
}

<h1>Admin Page</h1>
<ul>
    <li>
        <a href="Books">Manage Books</a>
    </li>
    <li>
        <a href="BookCopies">Manage Book Copies</a>
    </li>
    <li>
        <a href="BorrowedBooks">Manage Borrowed Books</a>
    </li>
    <li>
        <a href="Members">Manage Members</a>
    </li>
</ul>

