@page
@model LibrarySystem.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}



<h1>Support Page</h1>
<p>
    Mindfulnest strives to provide support to all our employees through an excellent team of IT support staff. They have been extremely grateful and have collaborated the below support forum if there are any issues faced by the on-site staff whist managing books and members.
</p>
<div>
    <strong>Issues with creating a book</strong>
    <p>Most common issue with book creation that admin faces are:</p>
    <img src="https://drive.google.com/uc?export=view&id=1FsGqnmUGu___gl_LUaAYKu9rjtLdvyqR" title="Book Category"
         align="middle" width="500px">
    <p>
        <ol>
            <li>
                Name for a book category is a mandatory field, so you must always provide a valid value for it.
            </li>
            <li>
                Author is a mandatory field, so you must always provide a valid value for it.
            </li>
            <li>
                Type specifies a category of the book
            </li>
        </ol>
    </p>
</div>
<div>
    <strong>Common Issues with creation of book copy</strong>
    <p>Most common issues with creation of book copy  that admin faces are:</p>
    <img src="https://drive.google.com/uc?export=view&id=1Lfqnp_okH0_GwcBZbGhxS07DR-6x_PmE" align="middle" width="500px"
         title="Book Copy">
    <p>
        <ol>
            <li>
                Name for a book copy is a mandatory field, so you must always provide a valid value for it.
            </li>
            <li>
                Date of arrival is a mandatory field, so you must always provide a valid value for it. It is also worth noting that date of arrival cannot be a future date.
            </li>
            <li>
                Aisle location specifies the location of the book and it only accepts numeric values.
            </li>
        </ol>
    </p>
</div>
<div>
    <strong>Some problems with borrowed book management</strong>
    <p>Most common issue with creation of borrowed book  that admin faces are:</p>
    <img src="https://drive.google.com/uc?export=view&id=1-eoL49VFIg1zFB2rd6_jNqdsipL3Bq-e" title="Borrowed Book" align="middle" width="500px">
    <p>
        <ol>
            <li>
                Member ID is a mandatory field, so you must always provide a valid value for it.
            </li>
            <li>
                Book Copy ID is the unique number that represents a unique book copy associated with a particular book category.
            </li>
        </ol>
    </p>
</div>
<div>
    <strong>Common issues with Member management</strong>
    <p>Most common issue with Member management that admin faces are:</p>
    <img src="https://drive.google.com/uc?export=view&id=19zFSb_MDosq8vRRDdKGm9AKHKtG94Wpe" align="middle" width="500px" title="Member">
    <p>
        <ol>
            <li>
                Member ID represents a unique member. It must not have repititive values else the system will not allow you to enter the ID.
            </li>
            <li>
                First Name is a mandatory field, so you must always provide a valid value for it. Last Name is a mandatory field, so you must always provide a valid value for it.
            </li>
            <li>
                Date of Birth is a mandatory field, so you must always provide a valid value for it
            </li>
        </ol>
    </p>
</div>

