@page
@model IndexModel
@{
    ViewData["Title"] = "Mindfulnest Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Mindfulnest!</h1>
       <hr>
        <table align="right">
            <tr>
                <td>
                    <img src="https://qph.fs.quoracdn.net/main-qimg-9a10f2785cdbaa3567b0bad7b2524e22.webp" alt="Aisle of books" align="middle">
                </td>

            </tr>
            </table>
            <p>It is an old saying that knowledge increases by sharing it with others. We, Mindfulnest fully agree with this proverb and are here to improve you quality of life by providing some of the most thought provoking books you can get your hands on! </p>
    </div>
