@page
@model IndexModel
@{
    ViewData["Title"] = "Mindfulnest Home page";
}
<div class="text-center">
        <h1 class="display-4">Welcome to Mindfulnest!</h1>
        <hr>
        <p>
            It is an old saying that knowledge increases by sharing it with others. We, Mindfulnest fully agree with this proverb and are
            here to improve you quality of life by providing some of the most thought provoking books you can get your hands on!
        </p>
        <img src="https://qph.fs.quoracdn.net/main-qimg-9a10f2785cdbaa3567b0bad7b2524e22.webp" alt="Aisle of books" align="middle" width="800px">
</div>
</br>
<p>
        <b>Welcome to Mindfulnest!!</b> Home to one of the largest collection of books, mindfulnest.org has something for everyone. Visitors can browse
        through our eclectic collections catalog and contributors can host and share their unique collections with millions worldwide.
</p>
</br>
        <table class="table table-striped" style="width:600px; text-align:center" align="center">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Mindfulnest Statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Books Borrowed in 2019</th>
                    <td>@Model.Borrowedbooks.Count</td>
                </tr>
                <tr>
                    <th>Total Customers</th>
                    <td>@Model.Members.Count</td>
                </tr>
                <tr>
                    <th>Different books available</th>
                    <td>@Model.Books.Count</td>
                </tr>
                <tr>
                    <th>Total books available</th>
                    <td>@Model.BookCopies.Count</td>
                </tr>
            </tbody>
        </table>
<br />
        <h2 style="text-align:center">Partners, Friends and Recognition</h2>
        <p style="text-align:center">
            We appreciate those who help bring our mission to life and we’re grateful for the recognition that inspires us.</pstyle="text-align:center">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img style="width:1200px;height:170px;" src="https://littlefreelibrary.org/wp-content/uploads/2016/11/little-free-library-sponsors-partners.jpg" alt="Partners" />
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>
