@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>
                This <strong>CoreCrud</strong> Portal provides information about Destinations and Countries.
            </p>
            <ul style="columns:3">
                <li>
                    <strong>Get a personalized plan: </strong> A complete day-by-day itinerary
                    based on your preferences
                </li>
                <li>
                    <strong>Customize it: </strong>Refine your plan. We'll find the
                    best routes and schedules
                </li>
                <li>
                    <strong>Manage it: </strong>Everything in one place.
                    Everyone on the same page.
                </li>
            </ul>
            <img style="width:700px;height:340px;" src="https://thumbnails.trvl-media.com/9lz74LdJIbkdIOyxFAQVpal90EE=/768x432/images.trvl-media.com/media/content/shared/images/travelguides/destination/602904/Virginia-Beach-N-135180.jpg" alt="Logo of a Vacation" />
        </div>
        <h2>Trending Destinations</h2>
        <img style="width:170px;height:170px;" src="https://mediad.publicbroadcasting.net/p/wyso/files/styles/x_large/public/201802/Favicon.png" alt="Logo of a Ohio" />
    </body>

