@page
@model LibrarySystem.Pages.BookCopies.EditModel

@{
    ViewData["Title"] = "Edit book copy details";
}

    <h1>Edit book copy details</h1>

<h4>Book Copy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookCopy.BookCopyId" />
            <div class="form-group">
                <label asp-for="BookCopy.BookId" class="control-label">Name</label>
                <select asp-for="BookCopy.BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BookCopy.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCopy.DateOfArrival" class="control-label"></label>
                <input asp-for="BookCopy.DateOfArrival" class="form-control" />
                <span asp-validation-for="BookCopy.DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCopy.Price" class="control-label"></label>
                <input asp-for="BookCopy.Price" class="form-control" />
                <span asp-validation-for="BookCopy.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCopy.BookAisleLocation" class="control-label"></label>
                <input asp-for="BookCopy.BookAisleLocation" class="form-control" />
                <span asp-validation-for="BookCopy.BookAisleLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
